:root {
  --text-color: #242b40;
  --light-bg-color: #f6faff;
  --normal-bg-color: #e0ebff;
  --active-bg-color: #bedbff;
  --border-color: #abd0ff;
}

html {
  font-size: 16px;
}

.accordion {
  --bs-accordion-btn-bg: var(--normal-bg-color);
  --bs-accordion-active-bg: var(--active-bg-color);
  --bs-border-color: var(--active-bg-color);
}

.list-group {
  --bs-list-group-border-radius: 0;
  --bs-list-group-border-color: var(--active-bg-color);
  --bs-list-group-disabled-bg: var(--light-bg-color);
  --bs-list-group-bg: var(--normal-bg-color);
}

.list-group-item {
  background-color: var(--light-bg-color);
  transition: height 1s ease-in-out;
}

.list-group-item-primary {
  background-color: var(--normal-bg-color);
}

.vr {
  color: var(--border-color);
  opacity: 100;
}

